/*! Tinymce Editor */

// SET RTL
$rtl: false;

@import "../dashlite_variables";
@import "../vendors/tinymce/ui/content";
@import "../vendors/tinymce/ui/content.inline";
@import "../vendors/tinymce/ui/content.mobile";
@import "../vendors/tinymce/ui/skin";
@import "../vendors/tinymce/ui/skin.mobile";