/// GLOBAL USED WIDGETS
/////////////////////////////////////

@import "comps/profiles";
@import "comps/wizard";

@import "comps/tb-tnx";
@import "comps/tb-odr";
@import "comps/tb-compact";

@import "tables/base";

@import "wgs/timeline";
@import "wgs/invoice";
@import "wgs/pricing";
@import "wgs/products";
@import "wgs/gallery";
@import "wgs/misc";

@import "wgs/analytic";
@import "wgs/ecommerce";